.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.header h1 {
  text-align: center;
  color: black;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px ; 
}
ul {
  list-style-type: none;
}
li{
  padding:5px;
  text-transform: uppercase;
  list-style-type:none;
  list-style-position: inside;
  border-bottom: solid 1px black;
  margin-top: 20px;
}
